body{
    background-color: hsl(0, 0%, 8%);
    
}
.container{
    padding: 20%;
    margin-top: 15%;
    margin: 30%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: hsl(0, 0%, 12%);
    align-items: center;
}
.button-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 5px;

}
.button{
    padding: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    flex-direction: column;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    margin-bottom: 10px;
}

.button:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);;
}
@media (max-width: 375px) {
    .button{
        font-size: 14px;
    }
    .container {
      padding: 10px;
    }
  
    header h1 {
      font-size: 24px;
    }
  
    .content p {
      font-size: 12px;
    }
  }
  

  @media (min-width: 1440px) {
    .container {
      padding: 40px;
    }
  
    header h1 {
      font-size: 36px;
    }
  
    .content p {
      font-size: 16px;
    }
  }